.buttoniti{
  position: fixed;
  bottom: 500px; 
  right: 100px;
  z-index: 10;
}
.posiCenter {
  position:relative;
  width:100%;
  height:auto;
  margin:0 auto;
  overflow:hidden;
}
.posiCenterIn {
  position:absolute;
  left:50%;
  top:0;
  width:700px;
  height:auto;
  margin-left:-350px;/*widthの半分を-で*/
  text-align:left;
}
/*
.png1 {

  display: inline-block;
  background: url(../pngs/home_hoso.png) no-repeat;
}.png2 {

  display: inline-block;
  padding-left: 30px;
  line-height: 30px;
  background: url(../pngs/user_hoso.png) no-repeat;
}.png3 {

  display: inline-block;
  padding-left: 30px;
  line-height: 30px;
  background: url(../pngs/search_hoso.png) no-repeat;
}*/